<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'SQLite-Repro' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>f0eb4718-551b-4466-b9fc-a8ccb685161d</InstrumentationKey>
</ApplicationInsights>